@import url(sanitize.css);

/* 見出しの調整 */

h1{
 font-size: 24px;
 margin: 0px;
}

div.content{
  background-color: #fff;
  width: 600px;
  margin: 10px auto;
  border: 1px solid #d1d1d1;
  padding: 30px;
}

input{
  border: none;
  /*ボーダー〜下にという指定。top left right　などあり*/
  border-bottom: 1px solid #d1d1d1;
  font-size: 1.2em;
  /*em=現状　今回は、入力の１.２倍*/
  width: 100%;
  padding: 8px;
}

button{
  width: 100%;
  background-color: #2096f3;
  border: none;
  color: #fff;
  padding: 15px;
  /*radiusは枠の角を取る*/
  border-radius: 10px;
  /*ボックスに対し、影を作る。濃さなど 色は基本的にrgbaの方が馴染みやすい*/
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
}
